<div class="custom-alerts">
    <div class="alert alert-success alert-best-pool-dl">
        You got the best pool deadline!
        <a href="#" class="close" data-dismiss="alert" aria-label="close">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>