{% extends 'index.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-6 background">
        <div class="info-box bg-yellow">
            <span class="info-box-icon">
                <i class="fa fa-users"></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">Pool</span>
                <span class="info-box-number">
                    <span id="currentPoolDeadline">{{ notLoaded }}</span>
                </span>

                <span class="progress-description">
                    Block: <span id="blockId">{{ notLoaded }}</span> <span id="blockDuration">{{ notLoaded }}</span>
                </span>
                <div class="progressContainer">
                    <div id="currentProgress">{{ notLoaded }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="info-box bg-blue">
            <span class="info-box-icon">
                <i class="fa fa-clock-o"></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">Deadline</span>
                <span class="info-box-number">
                    <span id="currentDeadline">{{ notLoaded }}</span>
                </span>
                <span class="progress-description">
                    Best last <span class="show-by-block show-by-hours-h"></span>: <span id="minHistoryDeadline">{{ notLoaded }}</span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="info-box bg-green">
            <span class="info-box-icon">
                <i class="fa fa-pie-chart"></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">Share</span>
                <span class="info-box-number">
                    <span id="currentShare">{{ notLoaded }}</span> <span class="unit-large">%</span>
                </span>
                <span class="progress-description">
                    Historic: <span id="historicShare">{{ notLoaded }}</span> <span class="unit-small">%</span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="info-box bg-red">
            <span class="info-box-icon">
                <i class="icon-Burstcoin-logo"></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">Reward</span>
                <span class="info-box-number">
                    <span id="currentReward">{{ notLoaded }}</span> <span class="unit-large">BURST</span>
                </span>
                <span class="progress-description">
                    Historic: <span id="historicReward">{{ notLoaded }}</span> <span class="unit-small">BURST</span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 graphs">
        <div id="myPoolShare"></div>
    </div>
</div>
{% endblock %}
