<div class="modal fade" id="settings" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-item">
                    <h4>Graph settings</h4>
                    <div>
                        Show last
                        <div class="setting show-by-block" contenteditable="true"></div>
                        blocks
                        <span class="hint"
                              data-toggle="tooltip"
                              data-placement="right"
                              title="- 0 to show all blocks&#013;&#010;- Most pools use 500 blocks to calculate the historic share"><i
                                class="fa fa-info-circle"></i></span>
                    </div>
                    <div>
                        Show last
                        <div class="setting show-by-hours" contenteditable="true"></div>
                        hours
                        <span class="hint"
                              data-toggle="tooltip"
                              data-placement="right"
                              title="- Show block of the past hours"><i class="fa fa-info-circle"></i></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-white" data-dismiss="modal">Close</button>
                <button id="save_settings" type="button" class="btn bg-blue" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="info" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Informations</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-item">
                    <h4>Graph legend</h4>
                    <div>
                        <span class="legend-item pool-won">■■■</span>
                        Pool won this block
                    </div>
                    <div>
                        <span class="legend-item best-dl">■■■</span>
                        You had the best pool deadline
                    </div>
                    <div>
                        <span class="legend-item won">■■■</span>
                        You won this block
                    </div>
                </div>
                <div class="modal-item">
                    Note: The PoCC pools don't estimate current/historic shares.
                    <br />
                    All you get is the effective pool share.
                </div>
                <div class="modal-item">
                    <h4>Donations</h4>
                    <div>
                        BURST-NDEL-9KTW-RHTC-6GG4M
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>