<nav class="navbar navbar-inverse">

    <div class="navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="nav-custom-item"><img src="images/logo.png"></span>
        <span class="label label-danger">Beta</span>
    </div>

    <div id="navbar" class="collapse navbar-collapse">

        <div class="navbar-nav">
            <button class="settings" data-toggle="modal" data-target="#settings">
                <i class="fa fa-2x fa-cog"></i>
            </button>
            <button data-toggle="modal" data-target="#info">
                <i class="fa fa-2x fa-info-circle"></i>
            </button>
            <button class="showSettings active"
                    id="toggleShowWon"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Blocks you won">
            </button>
            <button class="showSettings active"
                    id="toggleShowBest"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Your best deadlines">
            </button>
            <button class="showSettings"
                    id="toggleShowPoolWon"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Blocks the pool won">
            </button>
        </div>

        <div class="nav navbar-right collapse market-value">
            <div class="nav-item-right">
                Marketvalue:
                <span>
                    <span class="unit-small">€</span>
                    <span id="marketValue">{{ notLoaded }}</span>
                </span>
            </div>
            <div class="nav-item-right">
                <div class="change">Change:</div>
                <span>
                    24h:
                    <span id="marketChange_24"></span>
                    <span class="unit-small">%</span>
                </span>
                <span class="no-margin">
                    7d:
                    <span id="marketChange_7"></span>
                    <span class="unit-small">%</span>
                </span>
            </div>
        </div>
        <div class="nav navbar-right collapse payout">
            <div class="nav-item-right">
                Payout:
                <span>
                    (
                    <span class="unit-small">€</span>
                    <span id="totalPayoutValue">{{ notLoaded }}</span>
                    )
                </span>
                <span>
                    <span class="unit-small">BURST</span>
                    <span id="totalPayout">{{ notLoaded }}</span>
                </span>
            </div>
            <div class="nav-item-right">
                Upcoming:
                <span id="poccPayout">
                    <span>
                        (
                        <span class="unit-small">€</span>
                        <span id="upcomingPayoutValue">{{ notLoaded }}</span>
                        )
                    </span>
                    <span>
                        <span class="unit-small">BURST</span>
                        <span id="upcomingPayout">{{ notLoaded }}</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="nav navbar-right collapse user-info">
            <div class="nav-item-right">
                Name:
                <span>
                    <span id="username">{{ notLoaded }}</span>
                </span>
            </div>
            <div class="nav-item-right">
                Capacity:
                <span>
                    <span class="unit-small">TB</span>
                    <span id="capacity">{{ notLoaded }}</span>
                </span>
            </div>
        </div>

    </div>
</nav>
