#bestPoolDl
{
    height: 50vh;
    width:  100%;
}

#myPoolShare
{
    height: 50vh;
    width:  100%;
}

#myDeadlineHistory
{
    width: 100%;
}

#blockDuration
{
    float: right;
}

#currentProgress
{
    width:            0;
    height:           90px;
    background-color: #ffffff;
    opacity:          0.2;
    transition:       width 1s ease-out;
    overflow:         hidden;
}

.progressContainer
{
    position:      absolute;
    top:           0;
    left:          0;
    width:         100%;
    border-radius: 2px;
}

body
{
    background-color: #293a46;
}

h1, h2, h3, h4, h5, h6, p, div
{
    font-family: 'Open Sans', serif;
}

button:focus
{
    outline: 0;
}

.dygraph-axis-label
{
    color: #ffffff;
}

.info-box-number
{
    font-size:     25px !important;
    white-space:   nowrap;
    overflow:      hidden;
    text-overflow: ellipsis;
}

.info-box-number > span
{
    font-weight: 700;
}

.info-box-content
{
    position: relative;
}

.info-box-content > span
{
    font-weight: 300;
}

.dygraph-legend
{
    position:         absolute;
    left:             50% !important;
    margin-left:      -75px;
    margin-top:       -40px;
    width:            150px;
    background-color: rgba(0, 0, 0, 0.5);
!important;
    padding:          10px;
    border-radius:    3px;
    color:            #ffffff;
}

.modal-item
{
    color:            #ffffff;
    background-color: #293a46;
    border-radius:    3px;
    padding:          10px;
    line-height:      25px;
    margin-bottom:    10px;
}

.legend-item
{
    font-weight:    bolder;
    letter-spacing: -3px;
    margin-right:   3px;
}

.pool-won
{
    color: rgb(124, 252, 0);
}

.best-dl
{
    color: rgb(255, 255, 255);
}

.won
{
    color: rgb(255, 0, 0);
}

.graphs
{
    margin-top: 30px;
}

.progress-description
{
    text-align: left;
    margin-top: 5px;
}

.progress-description > span
{
    font-weight: 700;
}

.unit-small
{
    font-size: 8px;
}

.unit-large
{
    font-size: 15px;
}

.background
{
    z-index: -1;
}

.modal-title
{
    display: inline-block;
}
