nav.navbar.navbar-inverse
{
    background-color: transparent;
    border:           0;
    color:            #ffffff;
}

.navbar-nav
{
    text-align:     right;
    display:        flex;
    flex-direction: row-reverse;
}

@media (min-width: 768px)
{
    .navbar-nav
    {
        flex-direction: row;
    }
}

.navbar-collapse
{
    padding: 10px 15px 0 0;
    border:  0;
}

.navbar-collapse > .navbar-right
{
    margin-left:  15px;
    padding-left: 15px;
    font-size:    15px;
    border-left:  0;
}

.change
{
    display: inline;
}

.navbar-inverse button.navbar-toggle:hover
{
    background-color: transparent;
}

.navbar-inverse button.navbar-toggle:focus
{
    background-color: transparent;
}

.navbar-right > div > span
{
    margin-left: 20px;
}

.nav-item-right > span
{
    float:      right;
    text-align: right;
}

.stringPayout
{
    font-size: 11px;
}

.positive
{
    color: #008000;
}

.negative
{
    color: #ff0000;
}

.navbar-header
{
    padding-top: 12px;
}

.nav-custom-item
{
    float:       left;
    height:      50px;
    font-size:   18px;
    line-height: 20px;
}

.nav-custom-item > img
{
    height: 40px
}

.form-custom
{
    background-color: transparent;
    border-radius:    3px;
    border-color:     #6e6e6e;
    color:            #e0e0e0;
}

#toggleShowWon
{
    border-color: #ff0000;
}

#toggleShowWon.active
{
    background-color: #ff0000;
}

#toggleShowPoolWon
{
    border-color: #ffffff;
}

#toggleShowPoolWon.active
{
    background-color: #ffffff;
}

#toggleShowBest
{
    border-color: #7cfc00;
}

#toggleShowBest.active
{
    background-color: #7cfc00;
}

.navbar button.showSettings
{
    border:        1px solid;
    border-radius: 8px;
    height:        13px;
    width:         13px;
    margin-top:    15px;
    padding:       0;
    color:         #ffffff;
}

.navbar button.showSettings.active
{
    color: #000000;
}

button.form-custom
{
    color: #9a9a9a;
}

button.form-custom:hover
{
    color:        #e0e0e0;
    border-color: #3c8dbc;
    box-shadow:   none;
}

button.form-custom:focus
{
    color: #9a9a9a;
}

.custom-alerts
{
    position: absolute;
    left:     10px;
    top:      10px;
    width:    320px;
}

.alert
{
    display:       none;
    position:      relative;
    width:         100%;
    z-index:       1338;
    margin-bottom: 3px;
}

@media (min-width: 768px)
{
    .change
    {
        display: none;
    }

    .user-info
    {
        display: none !important;
    }

    .payout
    {
        display: none !important;
    }

    .navbar-collapse > .navbar-right.in:not(:last-child)
    {
        border-left: 1px solid #ffffff;
    }
}

@media (min-width: 845px)
{
    .payout
    {
        display: block !important;
    }
}

@media (min-width: 1020px)
{
    .user-info
    {
        display: block !important;
    }

    .navbar-nav
    {
        text-align: left;
    }

    .custom-alerts
    {
        left:  inherit;
        right: 10px;
        top:   290px;
    }
}

@media (min-width: 1200px)
{
    .custom-alerts
    {
        left:  310px;
        right: inherit;
        top:   10px;
    }
}
