#info .modal-item > div
{
    line-height: 18px;
}

.navbar-nav > button
{
    margin-left: 10px;
    margin-top:  5px;
    background:  none;
    border:      none;
}

.navbar-nav > button:first-child:hover
{
    animation: fa-spin 2s 0.125;
}

.show-by-block
{
    font-weight: inherit !important;
}

.modal-item > div > .setting
{
    display:       inline-block;
    min-width:     20px;
    border:        0;
    border-bottom: 1px solid #ffffff;
}

.hint
{
    margin-left: 3px;
}

.tooltip-inner
{
    white-space: pre-wrap;
    text-align:  left;
    max-width:   inherit;
}